<div class="comments">
    <h3>Comments ({{ post.comments.count }})</h3>

    {% for comment in post.comments.all %}
        <div class="comment-item">
            <p><strong>{{ comment.author.username }}</strong> says:</p>
            <p>{{ comment.content }}</p>
            <p class="timestamp">{{ comment.created_at|date:"M d, Y H:i" }}</p>

            {% if comment.author == user %}
                <a class="btn" href="{% url 'comment_delete' comment.pk %}">Delete</a>
            {% endif %}
        </div>
    {% empty %}
        <p>No comments yet. Be the first to comment!</p>
    {% endfor %}
</div>